.root {
  user-select: none;
  margin-bottom: 110px;
  overflow: hidden;
  height: 500px;

  .windows {
    width: 1100px;
    height: 500px;
    grid-gap: 12px;
    display: grid;
    grid-template-areas:
      'one two four'
      'one two four-low';
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.25);
      }
    }

    span {
      text-shadow: 1px 1px 1px rgb(72, 72, 72);
      left: 10px;
      bottom: 15px;
      position: absolute;
      color: #fff;
      font-size: 30px;
      font-weight: 500;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    .categoryOne {
      cursor: pointer;
      grid-area: one;
      position: relative;
    }
    .categoryTwo {
      cursor: pointer;
      grid-area: two;
      position: relative;
    }

    .categoryTree {
      cursor: pointer;
      grid-area: four;
      position: relative;
      height: 245px;
    }

    .categoryFour {
      cursor: pointer;
      grid-area: four-low;
      position: relative;
      height: 245px;
    }
  }

  @media (max-width: 900px) {
    height: 400px;
    width: 95vw;
    margin-bottom: 80px;

    .windows {
      height: 100%;
      width: 95vw;
      grid-gap: 8px;
      grid-template-areas:
        'one tree'
        'two four';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 200px 200px;

      span {
        font-size: 18px;
        font-weight: 400;
      }

      .categoryOne {
        cursor: pointer;
        grid-area: one;
        position: relative;
      }
      .categoryTwo {
        cursor: pointer;
        grid-area: two;
        position: relative;
      }

      .categoryTree {
        cursor: pointer;
        grid-area: tree;
        position: relative;
        height: auto;
      }

      .categoryFour {
        cursor: pointer;
        grid-area: four;
        position: relative;
        height: auto;
      }
    }
  }
}
