.root {
  user-select: none;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 110px;
  grid-gap: 12px;
  display: grid;
  grid-template-areas:
    'one two four'
    'one two four-low';
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  span {
    text-shadow: 1px 1px 1px rgb(72, 72, 72);
    left: 10px;
    bottom: 15px;
    position: absolute;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
  }

  img {
    object-fit: cover;
    height: 100%;
  }

  .categoryOne {
    cursor: pointer;
    grid-area: one;
    position: relative;
  }
  .categoryTwo {
    cursor: pointer;
    grid-area: two;
    position: relative;
  }

  .categoryTree {
    cursor: pointer;
    grid-area: four;
    position: relative;
    height: 245px;
  }

  .categoryFour {
    cursor: pointer;
    grid-area: four-low;
    position: relative;
    height: 245px;
  }
}
