.root {
  width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 60px;

  .productBlock {
    margin-bottom: 80px;
    border: 1px solid blue;

    .imgSide {
      width: 50%;
    }
    .textSide {
      width: 50%;
      background-color: #e5e5e5;
      padding: 5% 4%;
      display: flex;
      flex-direction: column;

      p {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-weight: 600;
          font-size: 20px;
        }
        .quantity {
          user-select: none;
          border: 1px solid #000;
          height: 45px;
          width: 150px;
          display: flex;

          div {
            height: 100%;
            width: 50px;
            text-align: center;
          }

          .minus {
            background-color: #fff;
            font-size: 35px;
            cursor: pointer;
            transition: background-color 0.15s ease-in-out;

            &:hover {
              background-color: #e5e5e5;
            }
          }
          .count {
            border-right: 1px solid #000;
            border-left: 1px solid #000;
            font-size: 25px;
            padding: 5px;
          }
          .plus {
            background-color: #fff;
            font-size: 35px;
            cursor: pointer;
            transition: background-color 0.15s ease-in-out;

            &:hover {
              background-color: #e5e5e5;
            }
          }
        }
      }
      .buttons {
      }
    }
  }
  .about {
    margin-bottom: 80px;
    height: 200px;
    border: 1px solid green;
  }
}
