.root {
  width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 60px;

  .productBlock {
    width: 100%;
    margin-bottom: 80px;
    display: flex;

    .title {
      position: absolute;
      width: 1100px;
      margin-top: 10px;
      text-align: center;
      font-size: 26px;
      font-weight: 500;
    }

    .imgSide {
      user-select: none;
      padding: 30px;
      width: 50%;
      height: 100%;

      .imgContainer {
        height: 400px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        img {
          height: 100%;
        }
      }
      .selector {
        display: flex;
        justify-content: center;

        img {
          height: auto;
          width: 100px;
          margin-right: 20px;
          border: 1px solid #fff;
          transition: all 0.15s ease-in-out;

          &:hover {
            box-shadow: 0 0 4px 2px #d6d6d6;
            border: 1px solid #bcbcbc;
          }
        }
      }
    }
    .textSide {
      width: 50%;
      height: 100%;
      background-color: #e5e5e5;
      padding: 5% 4%;
      display: flex;
      flex-direction: column;

      p {
        min-height: 100px;
        font-weight: 400;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 40px;
      }
      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        span {
          font-weight: 600;
          font-size: 20px;
        }
        .quantity {
          user-select: none;
          border: 1px solid #000;
          height: 45px;
          width: 150px;
          display: flex;

          div {
            height: 100%;
            width: 50px;
            text-align: center;
          }

          .minus {
            background-color: #fff;
            font-size: 35px;
            cursor: pointer;
            transition: background-color 0.15s ease-in-out;

            &:hover {
              background-color: #e5e5e5;
            }
          }
          .count {
            border-right: 1px solid #000;
            border-left: 1px solid #000;
            font-size: 25px;
            padding: 5px;
          }
          .plus {
            background-color: #fff;
            font-size: 35px;
            cursor: pointer;
            transition: background-color 0.15s ease-in-out;

            &:hover {
              background-color: #e5e5e5;
            }
          }
        }
      }
      .buttons {
        user-select: none;
        display: flex;
        justify-content: space-between;
        width: 100%;

        div {
          width: 45%;
          height: 45px;
          text-align: center;
          padding: 10px;
          font-size: 18px;
          font-weight: 500;
          transition: all 0.15s ease-in-out;
          cursor: pointer;
        }

        .cart {
          border: 1px solid #000;

          &:hover {
            color: #fff;
            background-color: #000;
          }
        }
        .bay {
          color: #fff;
          border: 1px solid #50a060;
          background-color: #50a060;

          &:hover {
            color: #50a060;
            background: 0;
          }
        }
      }
    }
  }
  .about {
    margin-bottom: 80px;
    height: 100px;
    display: flex;
    justify-content: space-between;

    div {
      width: 30%;
      height: 100%;
      background-color: #e5e5e5;
      padding: 18px;

      h3 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
      }
    }
  }

  .popup {
    z-index: 1000;
    position: fixed;
    font-size: 14px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    background-color: #3d3d3d;
    color: #fff;
    top: 70%;
    left: calc(50% - 125px);
  }

  @media (max-width: 900px) {
    width: 95vw;

    .productBlock {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        width: 95vw;
        font-size: 22px;
      }

      .imgSide {
        padding: 10px;
        width: 100%;
        margin-bottom: 20px;

        .imgContainer {
          width: 100%;
          height: auto;

          img {
            width: 100%;
          }
        }
        .selector {
          width: 100%;
          justify-content: space-between;

          img {
            height: auto;
            width: calc((100% - 10px) / 3);
            margin-right: 0;
          }
        }
      }
      .textSide {
        width: 100%;

        p {
          font-size: 15px;
          margin-top: 10px;
          margin-bottom: 20px;
        }
        .price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 40px;

          span {
            font-size: 15px;
          }
          .quantity {
            height: 45px;
            width: 120px;

            div {
              height: 100%;
              width: 40px;
            }
          }
        }
        .buttons {
          div {
            width: 45%;
            height: 45px;
            text-align: center;
            padding: 12px;
            font-size: 15px;
          }
        }
      }
    }
    .about {
      height: 80px;

      div {
        padding: 10px;

        h3 {
          font-size: 18px;
        }
        p {
          font-size: 15px;
        }
      }
    }

    // .popup {
    //   font-size: 14px;
    //   width: 250px;
    //   height: 40px;
    //   padding: 0;
    //   line-height: 40px;
    //   text-align: center;
    //   color: #fff;
    //   top: 70%;
    //   left: calc(50% - 125px);
    // }
  }

  @media (max-width: 325px) {
    .productBlock {
      margin-bottom: 30px;

      .textSide {
        .price {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;

          span {
            font-size: 20px;
            margin-bottom: 8px;
          }
          .quantity {
            height: 35px;
            line-height: 35px;
            padding: 0;
            margin-bottom: 8px;

            .count {
              padding: 0;
            }
          }
        }
        .buttons {
          flex-direction: column;
          align-items: center;

          div {
            width: 100%;
            font-size: 16px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .about {
      flex-direction: column;
      height: auto;
      margin-bottom: 60px;

      div {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;

        h3 {
          font-size: 18px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}
