.root {
  h1 {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 20px;
  }
  @media (max-width: 900px) {
    h1 {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 300px) {
    h1 {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
}
