.root {
  padding: 50px 0 50px 0;
  width: 1100px;
  margin: 0 auto;
  margin-top: 70px;

  .proud {
    margin-bottom: 110px;

    h2 {
      font-size: 23px;
      margin-bottom: 30px;
    }

    .gridContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 15px;
      grid-row-gap: 15px;
    }
  }

  .banner {
    height: 400px;
    display: flex;
    margin-bottom: 140px;

    .textSide {
      background-color: #e9e9e9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 100px;
      width: 50%;
      height: 100%;

      h2 {
        margin-bottom: 30px;
        font-size: 25px;
        font-weight: 700;
      }
      p {
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 300;
      }
      button {
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        width: 180px;
        padding: 10px;
        color: #fff;
        border: 1px solid #000;
        background-color: #000;
        transition: background-color 0.15s ease-in-out;

        &:hover {
          background-color: #e9e9e9;
          color: #000;
        }
      }
    }
    .imageSide {
      width: 50%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .slyder {
    height: 300px;
    margin-bottom: 140px;
  }

  .bannerRight {
    height: 400px;
    display: flex;
    margin-bottom: 100px;

    .textSide {
      background-color: #e9e9e9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 100px;
      width: 50%;
      height: 100%;

      h2 {
        margin-bottom: 30px;
        font-size: 25px;
        font-weight: 700;
      }
      p {
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 300;
      }
      button {
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        width: 180px;
        padding: 10px;
        color: #fff;
        border: 1px solid #000;
        background-color: #000;
        transition: background-color 0.15s ease-in-out;

        &:hover {
          background-color: #e9e9e9;
          color: #000;
        }
      }
    }
    .imageSide {
      width: 50%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (max-width: 900px) {
    width: 95vw;

    .proud {
      margin-bottom: 80px;

      h2 {
        font-size: 14px;
        margin-bottom: 30px;
      }

      .gridContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
      }
    }

    .slyder {
      height: 230px;
      margin-bottom: 80px;
    }

    .banner {
      height: 300px;
      margin-bottom: 80px;

      .textSide {
        padding: 0 10px;
        width: 50%;
        height: 100%;
        align-items: center;

        h2 {
          text-align: center;
          line-height: 1.1;
          margin-bottom: 10px;
          font-size: 18px;
          font-weight: 700;
        }
        p {
          text-align: center;
          margin-bottom: 16px;
          font-size: 14px;
        }
        button {
          font-size: 15px;
          width: 140px;
          padding: 10px;
        }
      }
      .imageSide {
        width: 50%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .bannerRight {
      height: 300px;
      margin-bottom: 70px;

      .textSide {
        align-items: center;
        padding: 0 10px;
        width: 50%;
        height: 100%;

        h2 {
          text-align: center;
          line-height: 1.1;
          margin-bottom: 10px;
          font-size: 18px;
          font-weight: 700;
        }
        p {
          text-align: center;
          margin-bottom: 16px;
          font-size: 14px;
        }
        button {
          font-size: 15px;
          width: 140px;
          padding: 10px;
        }
      }
      .imageSide {
        width: 50%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  @media (max-width: 320px) {
    .proud {
      .gridContainer {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .banner {
      height: 300px;
      display: flex;
      margin-bottom: 80px;

      .textSide {
        padding: 0 10px;
        width: 100%;
        height: 100%;

        h2 {
          margin-bottom: 15px;
          font-size: 16px;
          font-weight: 600;
        }
        p {
          margin-bottom: 30px;
          font-size: 14px;
          font-weight: 300;
        }
        button {
          font-size: 14px;
          width: 140px;
          padding: 10px;
        }
      }
      .imageSide {
        display: none;
        width: 0;
        height: 0;
      }
    }

    .bannerRight {
      height: 300px;
      display: flex;
      margin-bottom: 40px;

      .textSide {
        padding: 0 10px;
        width: 100%;
        height: 100%;

        h2 {
          margin-bottom: 15px;
          font-size: 16px;
          font-weight: 600;
        }
        p {
          margin-bottom: 30px;
          font-size: 14px;
          font-weight: 300;
        }
        button {
          font-size: 14px;
          width: 140px;
          padding: 10px;
        }
      }
      .imageSide {
        display: none;
        width: 0;
        height: 0;
      }
    }
  }
}
