.root {
  .categories {
    margin: 130px auto;
    width: 1100px;

    h2 {
      text-transform: uppercase;
      text-align: center;
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 50px;
    }
    .tags {
      user-select: none;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      span {
        padding: 5px 10px;
        font-size: 18px;
        border: 1px solid #cbcbcb;
        transition: border 0.2s ease-in-out;
        cursor: pointer;
        margin-right: 10px;
        margin-bottom: 70px;

        &:hover {
          border: 1px solid #4c4c4c;
        }
      }
    }
    .products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 15px;
      grid-row-gap: 15px;
    }
  }

  @media (max-width: 900px) {
    .categories {
      margin: 130px auto;
      width: 95vw;

      h2 {
        font-size: 20px;
      }
      .tags {
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
        gap: 6px;
        margin-bottom: 70px;
        justify-content: center;

        span {
          padding: 2px 6px;
          font-size: 14px;
          margin: 0;
        }
      }
      .products {
        grid-column-gap: 8px;
        grid-row-gap: 8px;
      }
    }
  }
  @media (max-width: 500px) {
    .categories {
      .products {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
