.root {
  z-index: 500;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    cursor: pointer;
    position: absolute;
    top: 2vh;
    right: 5vw;
    width: 25px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    font-weight: 400;

    a {
      margin-bottom: 20px;
    }

    span {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.visible {
  visibility: visible;
}
