.root {
  width: 100%;
  height: 120px;
  border: 1px solid #000;
  display: flex;
  margin-bottom: 10px;

  img {
    height: 118px;
  }
  .info {
    height: 100%;
    width: 100%;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 20px;
      margin-bottom: 12px;

      span {
        font-size: 17px;
        font-weight: 400;
      }

      .closeImg {
        user-select: none;
        width: 15px;
      }
    }
    .price {
      font-weight: 600;
      margin-bottom: 12px;
    }

    .quantity {
      user-select: none;
      border: 1px solid #000;
      height: 35px;
      width: 120px;
      display: flex;

      div {
        height: 100%;
        width: 40px;
        text-align: center;
      }

      .minus {
        background-color: #fff;
        font-size: 30px;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;

        &:hover {
          background-color: #e5e5e5;
        }
      }
      .count {
        border-right: 1px solid #000;
        border-left: 1px solid #000;
        padding: 5px 0;
        font-size: 20px;
      }
      .plus {
        background-color: #fff;
        font-size: 30px;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;

        &:hover {
          background-color: #e5e5e5;
        }
      }
    }
  }
}
