.root {
  color: #fff;
  height: 370px;
  width: 100%;

  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 260px;
    background-color: #c9efc7;

    span {
      font-size: 27px;
      font-weight: 600;
    }

    .input {
      margin-top: 30px;
      input {
        font-size: 15px;
        padding: 10px 20px;
        border: 1px solid #000;
      }
      button {
        cursor: pointer;
        font-size: 15px;
        background-color: #000;
        padding: 10px 20px;
        border: 1px solid #000;
        color: #fff;
      }
    }
  }
  .faq {
    height: 120px;
    background-color: #50a060;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      align-items: center;

      li {
        position: relative;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        margin-left: 20px;
        text-decoration: none;
        margin-left: 20px;

        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          display: block;
          width: 0;
          height: 2px;
          background: #ffffff;
          left: 50%;
          transform: translate(-50%);
          transition: 0.2s;
        }

        &:hover:after {
          width: 100%;
        }
      }
    }
  }
}
