* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;

  //scroll bar styles
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #50a060;
  }

  ::-webkit-scrollbar-track {
    visibility: hidden;
    background-color: #fff;
  }

  @media (max-width: 900px) {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    ::-webkit-scrollbar {
      display: none;
    }
  }
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000;
  background-color: #fff;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #000;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

// Плавное появление popup через react-transition-group

.alert-enter {
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
