.root {
  margin: 0 auto;
  margin-top: 70px;
  width: 800px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;

    span {
      font-size: 60px;
    }
  }
  p {
    font-size: 18px;
  }
}
